name: Build and Deploy

permissions:
  contents: read
  packages: write
on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_IP: ${{ secrets.SERVER_IP }}
      DEPLOY_PATH: ~/borsibaar-gh-action-deploy
      ENV_PRODUCTION_FILE: ${{ secrets.ENV_PRODUCTION_FILE }}
      DOCKER_COMPOSE_FILE: ${{ vars.COMPOSE_PROD_FILE }}
      NGINX_CONF: ${{ vars.NGINX_CONF }}
      NGINX_CONF_D: ${{ vars.BORSIBAAR_CONF_D }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      
      - uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true

          tags: |
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/backend:latest,
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/backend:1.0.0
     
      - uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/frontend:latest,
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/frontend:1.0.0
          build-args: |
            NEXT_PUBLIC_BACKEND_URL=${{ vars.NEXT_PUBLIC_BACKEND_URL }}

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan "$SERVER_IP" >> ~/.ssh/known_hosts
      
      - name: Install sshpass and openssh-client
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass openssh-client

      - name: Encode config files
        run: |
          echo ENV_PRODUCTION_FILE_B64=$(printf '%s' "$ENV_PRODUCTION_FILE" | base64 -w0) >> "$GITHUB_ENV"
          echo NGINX_CONF_B64=$(printf '%s' "$NGINX_CONF" | base64 -w0) >> "$GITHUB_ENV"
          echo NGINX_CONF_D_B64=$(printf '%s' "$NGINX_CONF_D" | base64 -w0) >> "$GITHUB_ENV"
          echo DOCKER_COMPOSE_FILE_B64=$(printf '%s' "$DOCKER_COMPOSE_FILE" | base64 -w0) >> "$GITHUB_ENV"

      - name: Deploy on server
        run: |
          ssh -i ~/.ssh/id_rsa \
            -o StrictHostKeyChecking=yes \
            "$SSH_USER@$SERVER_IP" << EOF
          set -e

          mkdir -p $DEPLOY_PATH
          cd $DEPLOY_PATH
          
          cp -r ~/certbot ./certbot

          printf '%s' "$ENV_PRODUCTION_FILE_B64" | base64 -d > .env
          
          mkdir -p ./nginx/conf.d
          printf '%s' "$NGINX_CONF_B64" | base64 -d > ./nginx/nginx.conf
          printf '%s' "$NGINX_CONF_D_B64" | base64 -d > ./nginx/conf.d/borsibaar-https.conf
          printf '%s' "$DOCKER_COMPOSE_FILE_B64" | base64 -d > ./docker-compose.yaml 
          sudo docker login ghcr.io --username ${{ vars.TOKEN_USER }} --password-stdin <<< ${{ secrets.PACKAGE_TOKEN }}
          sudo docker compose pull
          sudo docker compose --env-file ./.env up -d 
          sudo docker compose prune -f