name: Build and Deploy

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SERVER_IP: ${{ secrets.SERVER_IP }}
      DEPLOY_PATH: ~/borsibaar-gh-action-deploy
      ENV_PRODUCTION_FILE: ${{ secrets.ENV_PRODUCTION_FILE }}
      DOCKER_COMPOSE_FILE: ${{ vars.COMPOSE_PROD_FILE }}
      NGINX_CONF: ${{ vars.NGINX_CONF }}
      NGINX_CONF_D: ${{ vars.BORSIBAAR_CONF_D }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      
      - uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/backend:latest,
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/backend:1.0.0
     
      - uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: |
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/frontend:latest,
            ghcr.io/taltech-vanemarendajaks/vanemarendaja-borsibaar-tiim16/frontend:1.0.0
          build-args: |
            NEXT_PUBLIC_BACKEND_URL=${{ vars.NEXT_PUBLIC_BACKEND_URL }}

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan "$SERVER_IP" >> ~/.ssh/known_hosts
      
      - name: Install sshpass and openssh-client
        run: |
          sudo apt-get update
          sudo apt-get install -y sshpass openssh-client
          
      - name: Deploy on server
        run: |
          ssh -i ~/.ssh/id_rsa \
            -o StrictHostKeyChecking=yes \
            "$SSH_USER@$SERVER_IP" << 'EOF'
          set -e

          mkdir -p $DEPLOY_PATH
          cd $DEPLOY_PATH

          printf '%s\n' "$ENV_PRODUCTION_FILE" > .env

          printf '%s\n' "$NGINX_CONF" > ./nginx/nginx.conf

          printf '%s\n' "$NGINX_CONF_D" > ./nginx/conf.d/borsibaar-https.conf

          printf '%s\n' "$DOCKER_COMPOSE_FILE" > ./docker-compose.yaml

          docker compose pull
          docker compose up -d
          docker compose prune -f
